* {
    box-sizing: border-box
}
body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background-image: url("../images/fabric_plaid.png");
    margin: 0;
    padding: 0;
    height: 1000px;
    position: relative;
}

#header-div {
    overflow: auto;
    background: #ffffff;
    width: 100%;
    border-bottom: 1px solid #ccc; 
    margin: 0;
}

header {    
    margin: 0 auto;
    width: 960px;
    padding: 0px;
}

#name {
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 30px 40px 30px 40px;
    margin: 0;
    height: 100%;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
   float: right;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #777777;
}

#main {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #dddddd;
    width: 960px; 
    margin: auto;
}

#about {
    color: #4aaaa5;
    margin: 20px;
}

hr {
    background-color: #cccccc;
    color: #cccccc;
    height: 2px;
    border: none;
}

#jenny-profile-pic {
    float: left;
    margin: 20px;
}

p {
    line-height: 2;
    margin: 20px;
}

#footer-div {
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer {
    background-color: #666666;
    padding: 20px;
    color: #eeeeee;
    text-align: center;
    border-top: 8px solid #4aaaa5;    
    margin-bottom: 0;
}

input[type=text], #email, textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4aaaa5;
    color:#fff;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
  }
  
  input[type=submit]:hover {
    background-color: #fff;
    color: #4aaaa5;
    border: 1px solid #4aaaa5;
  }
  
